In [14]:
import pandas as pd, matplotlib as plt, numpy as np
dataset = pd.read_excel("coffee_sales.xlsx")
dataset['date'] = pd.to_datetime(dataset['date'])
dataset = dataset[dataset['date'].between('2024-03-01', '2025-02-28')]
dataset

,date,datetime,hour_of_day,cash_type,card,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort
0,2024-03-01,2024-03-01 10:15:50.520,10,card,ANON-0000-0000-0001,38.70,Latte,Morning,Fri,Mar,5,3
1,2024-03-01,2024-03-01 12:19:22.539,12,card,ANON-0000-0000-0002,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3
2,2024-03-01,2024-03-01 12:20:18.089,12,card,ANON-0000-0000-0002,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3
3,2024-03-01,2024-03-01 13:46:33.006,13,card,ANON-0000-0000-0003,28.90,Americano,Afternoon,Fri,Mar,5,3
4,2024-03-01,2024-03-01 13:48:14.626,13,card,ANON-0000-0000-0004,38.70,Latte,Afternoon,Fri,Mar,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...
3312,2025-02-28,2025-02-28 17:21:00.889,17,card,ANON-0000-0000-1191,35.76,Latte,Night,Fri,Feb,5,2
3313,2025-02-28,2025-02-28 17:31:04.347,17,card,ANON-0000-0000-1256,30.86,Americano with Milk,Night,Fri,Feb,5,2
3314,2025-02-28,2025-02-28 17:32:16.632,17,card,ANON-0000-0000-1170,25.96,Americano,Night,Fri,Feb,5,2
3315,2025-02-28,2025-02-28 17:33:49.148,17,card,ANON-0000-0000-1190,25.96,Americano,Night,Fri,Feb,5,2
3316,2025-02-28,2025-02-28 18:53:49.487,18,card,ANON-0000-0000-1257,35.76,Latte,Night,Fri,Feb,5,2

In [ ]:
#tabela de total por café 

by_coffee = dataset.groupby('coffee_name')['money'].sum().sort_values(ascending=False).reset_index()
by_coffee.to_csv('by_coffee.csv')

In [24]:
#tabela de total por mês
dataset['mes_ano'] = dataset['date'].dt.to_period('M')
by_month = dataset.groupby('mes_ano')['money'].sum().reset_index()
by_month['mes_ano_text'] = by_month['mes_ano'].dt.strftime('%b %Y')
by_month = by_month.drop(columns=['mes_ano'])
order = ['mes_ano_text', 'money']
by_month = by_month[order]
by_month.to_csv('by_month.csv')

In [ ]:
#tabela de total de cada café em cada mês

C:\Users\guilh\AppData\Local\Temp\ipykernel_19492\776885607.py:4: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  by_month_coffee = dataset.pivot_table(

In [ ]:
#